/* fuente */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fredoka+One&family=Fugaz+One&family=Inter:wght@500&family=Kanit:wght@500&family=Montserrat:wght@200&family=Neuton&family=Open+Sans:wght@600;700&family=Raleway:wght@500&family=Righteous&family=Rubik:wght@500&family=Staatliches&display=swap');

/* colors */
:root {
    --main-dark-color: #252422;
    --main-dark-grey: #403d39;
    --main-medium-grey: #ccc5b9;
    --main-dark-red: #e10001;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* header{
     background-color: var(--main-dark-color) ;
} */
/*barra de navegacion*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    background-color: var(--main-dark-grey);
    width: 100%;
    z-index: 100;
}

.logoNav{
    margin: 100px 0 0 0;
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    margin-left: 50px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 700px;
    margin: 0 40px 0 0;
    list-style: none;

}

.aNav {
    text-decoration: none;
    color: var(--main-medium-grey);
    font-size: larger;
    border: none;
    transition: 0.5s;
}

.aNav:hover{
    border: var(--main-dark-red) solid;
    border-radius: 15px;
    font-size: x-large;
    color: var(--main-medium-grey);
    transition: 1s;

}

/* planteo de la portada */

body{
    background: var(--main-dark-color);
    color: var(--main-medium-grey);

}
.contentUnoGeneral{
    background-image: url(./assets_LVN/portada2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.contentUno{
    width: 100%;
    padding: 50px;
    text-align: center;
}

.contentRedes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 50px 0 50px;


}

.contentIcon{
    width: 200px;
    padding: 20px;
    transition: all 300ms;
    margin: 50px;
    cursor: pointer;
}

.contentIcon:hover{
    box-shadow: 0px 10px 40px -5px black;
}

.contentIcon img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 40px -10px;
}

.contentIcon h2{
    margin-top: 20px;
}
.contentIcon p{
    margin-top: 10px;
}

hr {
    border-top: 3px solid var(--main-dark-red);
    border-bottom: 3px var(--main-dark-red);
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
}

.parrafoUno{
    margin: auto;
    margin-block-end: 20px;
    max-width: 800px;
    font-size: 20px;

}

/*contentDos*/

.contentDos{
    background-image: url(./assets_LVN/background2.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.contentItemDos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
    height: 80vh;
}

.contentItemDos img{
    width: 100%;
    max-width: 700px;
}

.contentItemDos h2{
    margin-top: 20px;
    color: #ffff;
}

/*icono flotante de wsp*/

.btnWsp{
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 75px;
    bottom: 30px;
    background: #0df053;
    color: #ffff;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
    z-index: 100;
    margin-left: 90%;
    transition: 1s;
}

.btnWsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #ffff;
    width: 85px;
    height: 85px;
    line-height: 85px;
    bottom: 40px;
    transition: all 2s;
}

/*carrusel imagenes*/

.galeria{
    margin: 300px;
}

.h1Destacados{
    text-align: center;
    width: 80%;
    margin: 50px auto;
}

.img-gallery{
    width: 80%;
    height: 80%;
    margin: 50px auto 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    align-items: center;
    gap: 30px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.img-gallery img:hover{
    transform: scale(1.2);
}
.gallery{
    border:#ccc5b9 solid;
    height: 250px;
    width: 200px;
    object-fit: cover;
}

/*galeria foto x foto*/

.ful-img img{
    width: 80%;
    height: 90%;
    max-width: 600px;
    object-fit: contain;
}

.ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.ful-img span{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 40px;
    color: #ffff;
    cursor: pointer;
}

/*footer*/
.todo{
    min-height: 100%;
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--main-dark-grey);
    margin-top: -30px;
    
}

.pFooter{
    text-align: center;

}
.nick{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#ff499e;
}

.nick:hover{
    color: #fb0779 ;
}


