/* fuente */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fredoka+One&family=Fugaz+One&family=Inter:wght@500&family=Kanit:wght@500&family=Montserrat:wght@200&family=Neuton&family=Open+Sans:wght@600;700&family=Raleway:wght@500&family=Righteous&family=Rubik:wght@500&family=Staatliches&display=swap');

/* colors */
:root {
    --main-dark-color: #252422;
    --main-dark-grey: #403d39;
    --main-medium-grey: #ccc5b9;
    --main-dark-red: #e10001;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#contacto{
    scroll-margin-top: 15ex ;
}

#nosotros{
    scroll-margin-top: 15ex ;
}

/*probar*/

html{
    scroll-behavior: smooth;
}  
/*barra de navegacion*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    background-color: var(--main-dark-grey);
    width: 100%;
    z-index: 100;
}

.logoNav{
    margin: 100px 0 0 0;
    max-width: 150px;
    max-height: 150px;
    margin-left: 50px;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 700px;
    margin: 0 40px 0 0;
    list-style: none;

}

.aNav {
    text-decoration: none;
    color: var(--main-medium-grey);
    font-size: larger;
    border: none;
    transition: 0.5s;
}

.aNav:hover{
    background-color: var(--main-dark-red);
    color: var(--main-medium-grey);
    transition: 0.3s;

}

/*menu hamburguesa*/

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span{
    display: block;
    background-color: #f3f3f3;
    height: 2px;
    width: 25px;
    margin: 10px auto;
    border-radius: 2px;
}

/* planteo de la portada */

body{
    background: var(--main-dark-color);
    color: var(--main-medium-grey);

}
.contentUnoGeneral{
    background-image: url(./assets_LVN/portada2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.contentUno{
    width: 100%;
    padding: 30px;
    text-align: center;
}

h1, h2, h3{ 
    margin: 50px 0 30px 0;
}

/*redes sociales*/

.contactoIcon{
    display: flex;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.contentRedes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 50px 0 50px;
    transform: scale(0.1);
    transition: all 1.2s ease-in-out;
}
.active {
    opacity: 1;
    transform: scale(1);
}
.contentIcon{
    width: 160px;
    padding: 20px;
    transition: all 300ms;
    margin: 40px;
    cursor: pointer;
}

.contentIcon:hover{
    box-shadow: 0px 10px 40px -5px black;
        
}

.contentIcon img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 40px -10px beige;
}

.contentIcon p{
    margin-top: 10px;
    
}

hr {
    border-top: 3px solid var(--main-dark-red);
    border-bottom: 3px var(--main-dark-red);
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin: 30px 0 0 0;
}

.parrafoUno{
    margin: auto;
    margin-block-end: 90px;
    max-width: 1000px;
    font-size: 22px;
}

/*contentDos*/

.contentDos{
    background-image: url(./assets_LVN/background2.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.contentItemDos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
    height: 85vh;
}

.contentItemDos img{
    width: 100%;
    max-width: 700px;
}

.contentItemDos h2{
    margin-top: 20px;
    color: #ffff;
}

/*Frase*/



/*icono flotante de wsp*/

.btnWsp{
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 75px;
    bottom: 30px;
    background: #0df053;
    color: #ffff;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
    z-index: 100;
    margin-left: 90%;
    transition: 1s;
}

.btnWsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #ffff;
    width: 85px;
    height: 85px;
    line-height: 85px;
    bottom: 40px;
    transition: all 2s;
}

/*Galeria imagenes*/

.galeria{
    margin: 300px;
}

.h1Destacados{
    text-align: center;
    width: 80%;
    margin: 70px auto;
    padding: 0;
}

.img-gallery{
    width: 80%;
    height: 80%;
    margin: 50px auto 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    align-items: center;
    gap: 30px;
    
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}

.img-gallery img:hover{
    transform: scale(1.2);
}
.gallery{
    border:#ccc5b9 solid;
    height: 250px;
    width: 200px;
    object-fit: cover;
}
/*galeria foto x foto*/

.ful-img img{
    width: 80%;
    height: 90%;
    max-width: 600px;
    object-fit: contain;
}

.ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.ful-img span{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 40px;
    color: #ffff;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 30px;
    padding: 0 0 0 60px;
}

.card{
    width: 320px;
    height: 280px;
    border-radius: 10px;
    background-color: #333;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative; 
    overflow: hidden;
    margin: 20px 0 70px 0;
    margin-left: 60px;
    
}

.cardImage{
    position: absolute; 
    inset: 0;
    width: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;
}
.card:hover .cardImage{
    transform: scale(1.15);
    opacity: .7;
}

.cardTitle{
    position: absolute; 
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/*footer*/
.todo{
    min-height: 100%;
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--main-dark-grey);
    margin-top: -30px;
    padding: 0 0 20px 0;
}

.pFooter{
    text-align: center;

}
.nick{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:#ff499e;
}

.nick:hover{
    color: #fb0779 ;
}


@media screen and (max-width: 480px) {

    .contentUnoGeneral{
        max-width: 480px;
        max-height: 380px;
        background-image: url(./assets_LVN/portada2.jpeg);
        background-size: contain;
        background-repeat:no-repeat;
        
    }
    .logoNav{
        margin: -10px;
        max-width: 70px;
        max-height: 70px;
        margin-left: 30px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0; 
        z-index: 9999;
        
    }

    .containLi{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 95vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        background-color: var(--main-dark-grey);
        opacity: 0;
    }

    .containLi li{
        width: 100%;
        text-align: center;
        padding: 30px;
    } 

    .ham{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        background-color: #403d39;
        transition: 0.2s 0.1s;
    }

    .ham:hover{
        transform: rotate(360deg);
        
    }

    h1{
        font-size: 26px;
        padding: 0 0 30px 0;
    }

    .contentUno{
        padding: 30px;
    }

    .contentIcon img{
        width: 60%;
        
    }

    .pFooter{
        font-size: 10px;
        margin: 10px 0 0 0;
    }

    footer{
        height: 60px;
        margin-top: -25px;
        
    }
    p{
        font-size: 15px;
    }

    .btnWsp{
        width: 50px;
        height: 50px;
        font-size: 40px;
        line-height: 50px;
        margin-left: 85%;
        margin-bottom: 30%;
        z-index: 999;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .card{
        margin: 20px 0 20px 0 ;
        width: 240px;
        height: 220px;
        
    }

    .cardImage{
        width: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
    }

    .redesDiv{
        font-size: 18px;
    }

    .cardTitle{
        font-size: 15px;
    }
}

@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
.containLi.activado{
    display: flex;
    animation:muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
}

@media screen and (min-width:481px) and (max-width:768px) {

    nav{
        height: 70px;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 18px;
    }
    .parrafoUno{
        width: 80%;
    }

    .contentUnoGeneral{
        max-width: 768px;
        background-image: url(./assets_LVN/portada2.jpg);
        max-height: 480px;
        background-size: contain;
        background-repeat:no-repeat;
    }

    .logoNav{
        margin-top: 5px;
        max-width: 60px;
        max-height: 60px;
        margin-left: 40px;
    }

    .aNav{
        font-size: 14px;
        
    }

    .containLi{
        justify-content:flex-end;
        gap: 30px;

    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));

    }

    .card{
        margin: 20px 0 20px 0 ;
        width: 240px;
        height: 220px;
        
    }

    .cardImage{
        width: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
    }

    .cardTitle{
        font-size: 15px;
    }

    .redesDiv{
        font-size: 20px;
    }

    .pFooter{
        font-size: 12px;
        margin: 10px 0 0 0;
    }

    footer{
        height: 60px;
        margin-top: -25px;
        
    }

    .contentUno{
        padding: 10px;
    }

    .contentUnoGeneral{
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .card{
        margin: 20px 0 20px 0 ;
        width: 250px;
        height: 200px;
    }

    .logoNav{
        margin-top: 35px;
        max-width: 100px;
        max-height: 100px;
        margin-left: 40px;
    }

    h1{
        font-size: 30px;
    }

    .pFooter{
        font-size: 12px;
        margin: 10px 0 0 0;
    }

    .containLi{
        justify-content:flex-end;
        gap: 35px;
    }

    .liNav{
        font-size: 15px;
    }

    .redesDiv{
        font-size: 18px;
        
    }

    .contentRedes img{
        height: 45%;
        width: auto;
    }

    .contentIcon{
        height: 250px;
    }

    .contentDos{
        height: 300px;
    }

    .contentUno{
        height: 1500px;
    }

    .contentDos{
        height: 300px;
    }
    
}

@media screen and (min-width:1025px) and (max-width:1366px) {

    .card{
        margin: 20px 0 20px 0 ;
        width: 240px;
        height: 200px;
    }

    .logoNav{
        margin-top: 35px;
        max-width: 100px;
        max-height: 100px;
        margin-left: 40px;
    }
    .containLi{
        justify-content:flex-end;
        gap: 35px;
        font-size: 14px;
    }

    .pFooter{
        font-size: 12px;
        margin: 10px 0 0 0;
    }

    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 20px;
    }

}

@media screen and (max-width:2560px) {
    
    .contentDos{
        height: 1100px;
    }

} 